<article ng-repeat="a in $ctrl.dataResult ">
  <div class="col s12 m4">
     <div class="card">
       <div class="card-image" ng-switch on="{{a.images}}">
         <img ng-switch-when="" src="http://vignette3.wikia.nocookie.net/outcast/images/f/f8/Imagen-no-disponible.png/revision/latest?cb=20160322191504&path-prefix=es">
         <img ng-switch-default src="{{a.images[1].url}}">
         <span class="card-title">{{a.name}}</span>
       </div>
       <div class="card-content">
         <p>Seguidores: {{a.followers.total}}</p>
       </div>
       <div class="card-action">
         <a href="{{a.external_urls.spotify}}">Ver en spotify</a>
       </div>
     </div>
   </div>
</article>
